.empty-cart {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  color: $blueGrey;
  border: 0px;
  border-radius: 5px;
  background-color: #f4f6fa;
  padding: 10px 20px;
}

.add-table {
  .shop-cart-items {
    thead {
      tr {
        background-color: #f4f6fa;
        border-collapse: collapse;
        border-radius: 20px;
      }
      th {
        font-family: "Quicksand", sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: $blueGrey;
        padding: 15px 20px;
        border: 0px !important;
        &:first-child {
          border-radius: 20px 0 0 20px;
        }
        &:last-child {
          border-radius: 0 20px 20px 0;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $borderGrey;
        td {
          font-family: "Lato", sans-serif;
          font-size: 13px;
          font-weight: 500;
          line-height: 45px;
          color: $lightGrey;
          padding: 15px 20px;
          a {
            font-family: "Quicksand", sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: $green;
          }
          .delete-btn {
            font-family: "Quicksand", sans-serif;
            font-size: 12px;
            font-weight: 600;
            line-height: 21px;
            display: inline-block;
            width: 25px;
            height: 25px;
            color: red;
            border-radius: 30px;
            border: 1px solid $borderGrey;
            text-align: center;
            transition: 0.5s;
            &:hover {
              background-color: $green;
              color: #fff;
            }
          }
          .quantity {
            font-size: 16px;
            font-weight: 700;
            width: 90px;
            height: 50px;
            background: #fff;
            border: 2px solid $green;
            color: $green;
            border-radius: 5px;
            margin: 0 6px 15px 0;
            padding: 10px 30px 10px 10px;
          }
          .input-btns {
            top: 15px;
            left: 75px;
            button {
              background-color: transparent;
              border: none;
            }
            .btn:first-child:active,
            :not(.btn-check) + .btn:active {
              background-color: transparent;
              border-color: transparent;
            }
          }
          .coupon-update {
            input {
              font-family: "Lato", sans-serif;
              font-size: 13px;
              line-height: 1.15;
              height: 40px;
              border-radius: 5px;
              padding: 0 15px;
              border: 1px solid $borderGrey;
              &:focus-visible {
                outline: none;
              }
            }
            .btn:first-child:active,
            :not(.btn-check) + .btn:active {
              background-color: $green;
              border-color: transparent;
            }
          }
        }
      }
    }
    td {
      border-bottom: 0;
      padding: 15px 20px;
    }
  }
  .row {
    h5 {
      font-family: "Quicksand", sans-serif;
      font-size: 20px;
      line-height: 34px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .totals {
    border-color: $borderGrey;
    width: 50%;
    tr {
      td {
        font-family: "Quicksand", sans-serif;
        padding: 15px 20px;
        &:first-child {
          font-size: 15px;
          font-weight: 700;
          color: $blueGrey;
          width: 40%;
        }
        &:last-child {
          font-size: 14px;
          font-weight: 500;
          color: $green;
        }
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
