.categories {
  font-family: "Quicksand", sans-serif;
  padding-bottom: 20px;
  h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    color: $blueGrey;
  }
  .featured-categories {
    a {
      font-size: 13px;
      font-weight: 600;
      line-height: 24px;
      color: $blueGrey;
    }
  }
  .categorie-items {
    row-gap: 10px;
    .cat-item {
      width: 120px;
      padding: 15px 0;
      border-radius: 10px;
      transition: 0.5s;
      img {
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
      h5 {
        font-family: "Quicksand", sans-serif;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.2;
        a {
          color: $blueGrey;
          transition: 0.5s;
        }
      }
      span {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        color: $lightGrey;
      }
      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(9) {
        background-color: #f2fce4;
        border: 1px solid #f2fce4;
      }
      &:nth-child(2) {
        background-color: #fffceb;
        border: 1px solid #fffceb;
      }
      &:nth-child(3) {
        background-color: #ecffec;
        border: 1px solid #ecffec;
      }
      &:nth-child(4),
      &:nth-child(8),
      &:nth-child(10) {
        background-color: #feefea;
        border: 1px solid #feefea;
      }
      &:nth-child(5) {
        background-color: #fff3eb;
        border: 1px solid #fff3eb;
      }
      &:nth-child(6) {
        background-color: #fff3ff;
        border: 1px solid #fff3ff;
      }
      &:hover {
        border: 1px solid $lightGreen;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
        h5 {
          a {
            color: $green;
          }
        }
      }
    }
  }
  .cat-shop-carts {
    row-gap: 20px;
    .shop-cart {
      border-radius: 10px;
      position: relative;
      width: 33%;
      img {
        border-radius: 10px;
      }
      .shop-cart-text {
        font-family: "Quicksand", sans-serif;
        position: absolute;
        top: 25%;
        left: 10%;
        min-height: 110px;
        h4 {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2;
          color: $blueGrey;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .categories {
    .cat-shop-carts {
      .shop-cart {
        &:not(:last-child) {
          width: 45%;
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .categories {
    .cat-title {
      flex-direction: column;
      align-items: start !important;
    }
    .featured-categories {
      padding-left: 0 !important;
      margin: 10px 0 !important;
    }
    .cat-shop-carts {
      .shop-cart {
        &:not(:last-child) {
          width: 100%;
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}
